@import '../../styles/_colors.scss';

.modal {
  z-index: 100;
  position: absolute;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  @media (min-width: 768px) {
     left: calc(50% - 20rem);
     width: 40rem;
  }

  &.modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }

  &.modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }

  &.modal-exit {
    transform: translateY(0);
    opacity: 1;
  }

  &.modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }

  .modal-header {
    width: 100%;
    padding: 10px 15px;
    background: $color_blue;
    color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    h2 {
      
    }
  }

  .modal-content {
    padding: 15px;

    img{
      max-width: 100%;
    }
  }
}